
            <div class="live-updates-wrapper">
                <div class="live-updates-header">What's happening?</div>
                <div class="live-updates-loading"></div>
                <div id="live-updates-content">
                    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                        <div class="viewport">
                            <div class="overview">

                            </div>
                        </div>

                </div>
            </div>       
        </div>
        <div class="footer-full"></div>
        <div class="footer-full-2"></div>
        <div class="modal-fs-bkg"></div>
        <div class="box-score-modal">
            <div class="modal-close">x</div>
            <div class="havoc-modal-header">
                <div class="modal-h2-bkg left"></div><h2 class="modal-main-h2">Box Score</h2><div class="modal-h2-bkg right"></div>
            </div>
            
            <div class="havoc-modal-body">
                <div class="havoc-modal-loading">Loading...</div>
            </div>
        </div>

        <!--<script src="/js/touch-emulator.js"></script>
        <script> TouchEmulator(); </script>-->
        <script src="/js/jquery-1.11.3.min.js"></script>
        <script src="/js/jquery-ui.custom.min.js"></script>
        <script src="/js/jquery.ui.touch-punch.min.js"></script>
        <script src="/js/handlebars.min.js"></script>
        <script src="/js/moment.min.js"></script>
        <script src="/js/fullcalendar.min.js"></script>
        <script src="/js/jquery.tinyscrollbar.min.js"></script>
        <script src="/js/modernizr.custom.js"></script>
        <script src="/js/jquery.touchSwipe.min.js"></script>
        <script src="http://vjs.zencdn.net/4.11/video.js"></script>
        <script src="/js/vjs.youtube.js"></script>
        <script src="/js/havoc.js"></script>

        <script>
            Modernizr.load({
                test: Modernizr.touch,
                yep : '/js/jquery.touchSwipe.min.js',
            });

        </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-66504016-1', 'auto');
          ga('send', 'pageview');

        </script>
</body>
</html>