<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/font-awesome-4.3.0/css/font-awesome.min.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <!--<img src="main-page.png">-->

        <div class="content-wrapper">
            <header>
                <a href="#" id="header-logo">
                    <img src="img/header-logo.png">
                </a>
                <div id="header-slogan">Wisconsin’s Premier Girls AAU Basketball Program</div>
                <div id="header-social-icons">
                    <a href="#" class="header-social-icon"><i class="fa fa-facebook-square"></i></a>
                    <a href="#" class="header-social-icon"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="header-social-icon"><i class="fa fa-instagram"></i></a>
                </div>
            </header>
            <ul id="top-menu">
                <li id="teams" data-top-menu="teams">Teams
                    <ul id="sub-menu">
                        <li id="sophomore">Sophomore
            <div class="player-list-wrapper">
                <div class="player-bkg-lines">
                    <div class="player-bkg-yellow-line"></div>
                    <div class="player-bkg-yellow-line"></div>
                    <div class="player-bkg-yellow-line"></div>
                    <div class="player-bkg-yellow-line"></div>
                </div>
                <ul class="player-list">
                    <li>
                        <div class="player-icon-wrapper">
                            <div class="player-icon-wrapper-bkg"></div>
                            <div class="player-icon-wrapper-stripes">
                                <div class="player-bkg-yellow-line"></div>
                                <div class="player-bkg-yellow-line"></div>
                                <div class="player-bkg-yellow-line"></div>
                                <div class="player-bkg-yellow-line"></div>
                            </div>
                            
                            <div class="player-icon">
                                <div class="icon-player-photo"><img src="img/marley-shelton-icon.png"></div>
                                <div class="icon-photo-circle-bkg"></div>
                                <div class="icon-photo-inner-circle"></div>
                                <!--<div class="inner-circle-wrapper">
                                    <div class="icon-photo-inner-inner-circle"></div>
                                    <div class="icon-photo-inner-inner-new-circle"></div>
                                </div>-->
                                <div class="inner-circle-wrapper">
                                    <div class="icon-photo-inner-inner-circle"></div>
                                    <div class="icon-photo-inner-inner-grow-circle"></div>
                                </div>
                                <div class="position-circle">PG</div>
                                <div class="player-icon-number">32</div>
                                <div class="player-icon-first-name">Marley</div> 
                                <div class="player-icon-last-name">Shelton</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="player-icon-wrapper">
                            <div class="player-icon-wrapper-bkg"></div>
                            <div class="player-icon-wrapper-stripes">
                                <div class="player-bkg-yellow-line"></div>
                                <div class="player-bkg-yellow-line"></div>
                                <div class="player-bkg-yellow-line"></div>
                                <div class="player-bkg-yellow-line"></div>
                            </div>
                            <div class="player-icon">
                                <div class="icon-player-photo"><img src="img/marley-shelton-icon.png"></div>
                                <div class="icon-photo-circle-bkg"></div>
                                <div class="icon-photo-inner-circle"></div>
                                <!--<div class="inner-circle-wrapper">
                                    <div class="icon-photo-inner-inner-circle"></div>
                                    <div class="icon-photo-inner-inner-new-circle"></div>
                                </div>-->
                                <div class="inner-circle-wrapper">
                                    <div class="icon-photo-inner-inner-circle"></div>
                                    <div class="icon-photo-inner-inner-grow-circle"></div>
                                </div>
                                <div class="position-circle">PG</div>
                                <div class="player-icon-number">32</div>
                                <div class="player-icon-first-name">Marley</div> 
                                <div class="player-icon-last-name">Shelton</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="player-icon-wrapper">
                            <div class="player-icon-wrapper-bkg"></div>
                            <div class="player-icon-wrapper-stripes">
                                <div class="player-bkg-yellow-line"></div>
                                <div class="player-bkg-yellow-line"></div>
                                <div class="player-bkg-yellow-line"></div>
                                <div class="player-bkg-yellow-line"></div>
                            </div>
                            <div class="player-icon">
                                <div class="icon-player-photo"><img src="img/marley-shelton-icon.png"></div>
                                <div class="icon-photo-circle-bkg"></div>
                                <div class="icon-photo-inner-circle"></div>
                                <!--<div class="inner-circle-wrapper">
                                    <div class="icon-photo-inner-inner-circle"></div>
                                    <div class="icon-photo-inner-inner-new-circle"></div>
                                </div>-->
                                <div class="inner-circle-wrapper">
                                    <div class="icon-photo-inner-inner-circle"></div>
                                    <div class="icon-photo-inner-inner-grow-circle"></div>
                                </div>
                                <div class="position-circle">PG</div>
                                <div class="player-icon-number">32</div>
                                <div class="player-icon-first-name">Marley</div> 
                                <div class="player-icon-last-name">Shelton</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="player-icon-wrapper">
                            <div class="player-icon-wrapper-bkg"></div>
                            <div class="player-icon-wrapper-stripes">
                                <div class="player-bkg-yellow-line"></div>
                                <div class="player-bkg-yellow-line"></div>
                                <div class="player-bkg-yellow-line"></div>
                                <div class="player-bkg-yellow-line"></div>
                            </div>
                            <div class="player-icon">
                                <div class="icon-player-photo"><img src="img/marley-shelton-icon.png"></div>
                                <div class="icon-photo-circle-bkg"></div>
                                <div class="icon-photo-inner-circle"></div>
                                <!--<div class="inner-circle-wrapper">
                                    <div class="icon-photo-inner-inner-circle"></div>
                                    <div class="icon-photo-inner-inner-new-circle"></div>
                                </div>-->
                                <div class="inner-circle-wrapper">
                                    <div class="icon-photo-inner-inner-circle"></div>
                                    <div class="icon-photo-inner-inner-grow-circle"></div>
                                </div>
                                <div class="position-circle">PG</div>
                                <div class="player-icon-number">32</div>
                                <div class="player-icon-first-name">Marley</div> 
                                <div class="player-icon-last-name">Shelton</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="player-icon-wrapper">
                            <div class="player-icon-wrapper-bkg"></div>
                            <div class="player-icon-wrapper-stripes">
                                <div class="player-bkg-yellow-line"></div>
                                <div class="player-bkg-yellow-line"></div>
                                <div class="player-bkg-yellow-line"></div>
                                <div class="player-bkg-yellow-line"></div>
                            </div>
                            <div class="player-icon">
                                <div class="icon-player-photo"><img src="img/marley-shelton-icon.png"></div>
                                <div class="icon-photo-circle-bkg"></div>
                                <div class="icon-photo-inner-circle"></div>
                                <!--<div class="inner-circle-wrapper">
                                    <div class="icon-photo-inner-inner-circle"></div>
                                    <div class="icon-photo-inner-inner-new-circle"></div>
                                </div>-->
                                <div class="inner-circle-wrapper">
                                    <div class="icon-photo-inner-inner-circle"></div>
                                    <div class="icon-photo-inner-inner-grow-circle"></div>
                                </div>
                                <div class="position-circle">PG</div>
                                <div class="player-icon-number">32</div>
                                <div class="player-icon-first-name">Marley</div> 
                                <div class="player-icon-last-name">Shelton</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="player-icon-wrapper">
                            <div class="player-icon-wrapper-bkg"></div>
                            <div class="player-icon-wrapper-stripes">
                                <div class="player-bkg-yellow-line"></div>
                                <div class="player-bkg-yellow-line"></div>
                                <div class="player-bkg-yellow-line"></div>
                                <div class="player-bkg-yellow-line"></div>
                            </div>
                            <div class="player-icon">
                                <div class="icon-player-photo"><img src="img/marley-shelton-icon.png"></div>
                                <div class="icon-photo-circle-bkg"></div>
                                <div class="icon-photo-inner-circle"></div>
                                <!--<div class="inner-circle-wrapper">
                                    <div class="icon-photo-inner-inner-circle"></div>
                                    <div class="icon-photo-inner-inner-new-circle"></div>
                                </div>-->
                                <div class="inner-circle-wrapper">
                                    <div class="icon-photo-inner-inner-circle"></div>
                                    <div class="icon-photo-inner-inner-grow-circle"></div>
                                </div>
                                <div class="position-circle">PG</div>
                                <div class="player-icon-number">32</div>
                                <div class="player-icon-first-name">Marley</div> 
                                <div class="player-icon-last-name">Shelton</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div></li>
                        <li class="non-team-menu-item-sub" id="2018reg">2018 Regional</li>
                        <li class="non-team-menu-item-sub" id="2020team">2020</li>
                    </ul>
                </li>
                <li class="non-team-menu-item">Tryouts</li>
                <li class="non-team-menu-item">Schedule</li>
                <li class="non-team-menu-item">Contact Us</li>
                <li class="non-team-menu-item">Buy Havoc Gear</li>
            </ul>

            <div class="live-updates-header">Live Updates</div>

            <div class="basketball-card-wrapper">
                <div class="basketball-inner">
                    <div class="basketball-card-back basketball-card">
                        <div class="card-back-name-block back-block-item">
                            <div class="card-back-first-name">Marley</div>
                            <div class="card-back-last-name">Shelton</div>
                         </div>
                         <div class="card-back-position-block back-block-item">PG</div>
                         <div class="card-back-number-block back-block-item">32</div>
                         <div class="card-back-info-block back-block-item">
                            <div class="card-back-info-text">Birthdate: 9/15/2001</div>
                            <div class="card-back-info-text">Hometown: Brookfield</div>
                            <div class="card-back-info-text">Class of 2017</div>
                         </div>

                         <div class="card-back-game-log-title">Game Log</div>
                         <div class="stats-table-outer-wrapper">
                            <table class="stats-table-header" id="stats-header-locked">
                                <tr>
                                    <td>Date</td><td>MP</td><td>FG</td><td>FGA</td><td>FG%</td>
                                    <td>3P</td><td>3PA</td><td>3P%</td><td>FT</td><td>FTA</td>
                                    <td>FT%</td><td>ORB</td><td>DRB</td><td>TRB</td><td>AST</td>
                                    <td>STL</td><td>BLK</td><td>TOV</td><td>PF</td><td>PTS</td>
                                </tr>
                            </table>
                             <div class="stats-table-window">
                                
                                <table class="stats-table-header">
                                    <tr>
                                        <td>Date</td><td>MP</td><td>FG</td><td>FGA</td><td>FG%</td>
                                        <td>3P</td><td>3PA</td><td>3P%</td><td>FT</td><td>FTA</td>
                                        <td>FT%</td><td>ORB</td><td>DRB</td><td>TRB</td><td>AST</td>
                                        <td>STL</td><td>BLK</td><td>TOV</td><td>PF</td><td>PTS</td>
                                    </tr>
                                </table>
                                <div class="stats-table-wrapper">
                                    <table class="stats-table">
                                        <tr>
                                            <td>5/8/15</td><td>23:45</td><td>6</td><td>12</td><td>.500</td>
                                            <td>2</td><td>4</td><td>.500</td><td>2</td><td>4</td>
                                            <td>.500</td><td>1</td><td>3</td><td>4</td><td>2</td>
                                            <td>1</td><td>0</td><td>2</td><td>2</td><td>16</td>
                                        </tr>
                                        <tr>
                                            <td>5/8/15</td><td>23:45</td><td>6</td><td>12</td><td>.500</td>
                                            <td>2</td><td>4</td><td>.500</td><td>2</td><td>4</td>
                                            <td>.500</td><td>1</td><td>3</td><td>4</td><td>2</td>
                                            <td>1</td><td>0</td><td>2</td><td>2</td><td>16</td>
                                        </tr>
                                        <tr>
                                            <td>5/8/15</td><td>23:45</td><td>6</td><td>12</td><td>.500</td>
                                            <td>2</td><td>4</td><td>.500</td><td>2</td><td>4</td>
                                            <td>.500</td><td>1</td><td>3</td><td>4</td><td>2</td>
                                            <td>1</td><td>0</td><td>2</td><td>2</td><td>16</td>
                                        </tr>
                                        <tr>
                                            <td>5/8/15</td><td>23:45</td><td>6</td><td>12</td><td>.500</td>
                                            <td>2</td><td>4</td><td>.500</td><td>2</td><td>4</td>
                                            <td>.500</td><td>1</td><td>3</td><td>4</td><td>2</td>
                                            <td>1</td><td>0</td><td>2</td><td>2</td><td>16</td>
                                        </tr>
                                        <tr>
                                            <td>5/8/15</td><td>23:45</td><td>6</td><td>12</td><td>.500</td>
                                            <td>2</td><td>4</td><td>.500</td><td>2</td><td>4</td>
                                            <td>.500</td><td>1</td><td>3</td><td>4</td><td>2</td>
                                            <td>1</td><td>0</td><td>2</td><td>2</td><td>16</td>
                                        </tr>
                                        <tr>
                                            <td>5/8/15</td><td>23:45</td><td>6</td><td>12</td><td>.500</td>
                                            <td>2</td><td>4</td><td>.500</td><td>2</td><td>4</td>
                                            <td>.500</td><td>1</td><td>3</td><td>4</td><td>2</td>
                                            <td>1</td><td>0</td><td>2</td><td>2</td><td>16</td>
                                        </tr>
                                        <tr>
                                            <td>5/8/15</td><td>23:45</td><td>6</td><td>12</td><td>.500</td>
                                            <td>2</td><td>4</td><td>.500</td><td>2</td><td>4</td>
                                            <td>.500</td><td>1</td><td>3</td><td>4</td><td>2</td>
                                            <td>1</td><td>0</td><td>2</td><td>2</td><td>16</td>
                                        </tr>
                                        <tr>
                                            <td>5/8/15</td><td>23:45</td><td>6</td><td>12</td><td>.500</td>
                                            <td>2</td><td>4</td><td>.500</td><td>2</td><td>4</td>
                                            <td>.500</td><td>1</td><td>3</td><td>4</td><td>2</td>
                                            <td>1</td><td>0</td><td>2</td><td>2</td><td>16</td>
                                        </tr>
                                        <tr>
                                            <td>5/8/15</td><td>23:45</td><td>6</td><td>12</td><td>.500</td>
                                            <td>2</td><td>4</td><td>.500</td><td>2</td><td>4</td>
                                            <td>.500</td><td>1</td><td>3</td><td>4</td><td>2</td>
                                            <td>1</td><td>0</td><td>2</td><td>2</td><td>16</td>
                                        </tr>
                                        <tr>
                                            <td>5/8/15</td><td>23:45</td><td>6</td><td>12</td><td>.500</td>
                                            <td>2</td><td>4</td><td>.500</td><td>2</td><td>4</td>
                                            <td>.500</td><td>1</td><td>3</td><td>4</td><td>2</td>
                                            <td>1</td><td>0</td><td>2</td><td>2</td><td>16</td>
                                        </tr>
                                    </table>
                                </div>
                             </div>
                     </div>
                         <div class="stats-totals-label">TOTALS</div>
                         <div class="stats-totals-ribbon"></div>
                         <div class="return-to-front">RETURN TO FRONT >>></div>
                    </div>
                    <div class="basketball-card-front basketball-card">
                        <div class="card-photo-window">
                            <div class="card-logo-bug"><img src="img/card-logo-bug.png"></div>
                            <div class="card-photo-item"><img src="img/card-photo1.jpg"></div>
                            <div class="card-first-name">Marley</div>
                            <div class="card-last-name">Shelton</div>
                        </div>
                        <div class="card-social-icons">
                            <div class="card-social-icon">
                                <i class="fa fa-facebook-square social-icon"></i>
                                <div class="social-icon-text">FACEBOOK ></DIV>
                            </div>
                            <div class="card-social-icon">
                                <i class="fa fa-twitter social-icon"></i>
                                <div class="social-icon-text">TWITTER ></DIV>
                            </div>
                            <div class="card-social-icon">
                                <i class="fa fa-instagram social-icon"></i>
                                <div class="social-icon-text">INSTAGRAM ></DIV>
                            </div>
                            <div class="card-social-icon flip-card">
                                <i class="fa fa-list-alt"></i>
                                <div class="card-social-list-text">STATS ON BACK</div>
                            </div>
                        </div>
                        <div class="card-media-title">PHOTOS and VIDEOS</div>
                        <div class="card-media-items">
                            <div class="card-media-item selected">
                                <div class="card-media-item-bkg"></div>
                                <img src="img/thumb-ex.png">
                            </div>
                            <div class="card-media-item">
                                <div class="card-media-item-bkg"></div>
                                <img src="img/thumb-ex.png">
                            </div>
                            <div class="card-media-item">
                                <div class="card-media-item-bkg"></div>
                                <img src="img/thumb-ex.png">
                            </div>
                            <div class="card-media-item">
                                <div class="card-media-item-bkg"></div>
                                <img src="img/thumb-ex.png">
                            </div>
                            <div class="card-media-item">
                                <div class="card-media-item-bkg"></div>
                                <img src="img/thumb-ex.png">
                            </div>
                        </div>
                        <div class="card-media-ribbon"></div>

                    </div>
                </div>
            </div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. 
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>-->
        <script>
            $(document).ready(function() {

                var subMenuItems = [];
                $('#sub-menu > li').each(function(e){
                    subMenuItems.push($(this).attr('id'));
                });

                function isOverflowedY(element){
                    return element[0].scrollHeight > element[0].clientHeight;
                }

                function isOverflowedX(element){
                    return element.scrollWidth > element.clientWidth;
                }

                var lastScrollY = 0;
                var lastScrollX = 0;

                $('.stats-table-window').scroll(function(e) {
                    //console.log("scroll y");
                    var tableScrollY = $(this).scrollTop();
                    var tableScrollX = $(this).scrollLeft();
                    if (lastScrollY != tableScrollY) {
                        //console.log("SHOW LOCKED HEADER");
                        $('#stats-header-locked').css('display','block');
                    }
                    if (lastScrollX != tableScrollX || (lastScrollX == 0 && tableScrollX == 0)) {
                        //console.log("HIDE LOCKED HEADER");
                        $('#stats-header-locked').css('left', -tableScrollX);
                        //$('#stats-header-locked').css('display','none');
                    }
                    if (tableScrollY == 0) {
                        $('#stats-header-locked').css('display','none');
                    }
                });

                $('.return-to-front').click(function(e){
                    $('.stats-table-header').css('visibility','hidden');
                    $('.stats-table-wrapper').css('visibility','hidden');
                    $('.basketball-card-front').toggleClass('flipped');
                    $('.basketball-card-back').toggleClass('flipped');
                });

                $('.flip-test-link').click(function(e){
                    e.preventDefault();
                    console.log("flip card");
                    $('.stats-table-header').css('visibility','hidden');
                    $('.stats-table-wrapper').css('visibility','hidden');
                    $('.basketball-card-front').toggleClass('flipped');
                    $('.basketball-card-back').toggleClass('flipped');
                });

                $('.flip-card').click(function(e){
                    e.preventDefault();
                    console.log("flip card");
                    $('.stats-table-header').css('visibility','hidden');
                    $('.stats-table-wrapper').css('visibility','hidden');
                    $('.basketball-card-front').toggleClass('flipped');
                    $('.basketball-card-back').toggleClass('flipped');
                });

                $(".basketball-card-back").on('transitionend webkitTransitionEnd oTransitionEnd otransitionend MSTransitionEnd', 
                    function() {
                        console.log("done flipping");
                        $('.basketball-card-back').css('visibility','visible');
                        $('.stats-table-header').css('visibility','visible');
                        $('.stats-table-wrapper').css('visibility','visible');
                    }
                );

                $('#top-menu li#teams').hover(function(e){
                    console.log("hover top menu on");
                }, function(e) {
                    console.log("hover top menu off");
                    var playerSelected = false;
                    $('.player-icon').each(function(e){
                        if ($(this).hasClass('player-icon-selected')) {
                            playerSelected = true;
                        }
                    });
                    console.log("player selected == false");
                    if (playerSelected == false) {
                        $('.player-icon').removeClass('player-icon-selected');
                        $('.player-icon').removeClass('icon-player-hover');
                        $('.player-icon').removeClass('icon-player-hover-out');
                        $('.player-icon-wrapper-bkg').css('display','none');
                        $('.icon-photo-inner-inner-grow-circle').removeClass('player-grow-selected');
                        $('.icon-photo-inner-inner-grow-circle').removeClass('icon-photo-inner-inner-grow');
                        $('.icon-photo-inner-inner-grow-circle').removeClass('icon-photo-inner-inner-shrink');
                    }
                });
                
                

                $('#sub-menu > li').hover(function(e){
                    var currentItem = $(this).attr('id');
                    for (var k = 0; k < subMenuItems.length; k++) {
                        if (subMenuItems[k] != currentItem) {
                            $('#'+subMenuItems[k]).find('.player-icon').removeClass('icon-player-hover');
                            $('#'+subMenuItems[k]).find('.player-icon').removeClass("icon-player-hover-out");
                            $('#'+subMenuItems[k]).find('.icon-photo-inner-inner-grow-circle').removeClass('icon-photo-inner-inner-grow');
                            $('#'+subMenuItems[k]).find('.icon-photo-inner-inner-grow-circle').removeClass('icon-photo-inner-inner-shrink');
                        }
                    }
                }, function(e) {

                });

                $(".player-icon").on('transitionend webkitTransitionEnd oTransitionEnd otransitionend MSTransitionEnd', 
                    function() {
                        console.log("transition end");
                        if ($(this).hasClass('icon-player-hover-out')) {
                            $(this).removeClass('icon-player-hover');
                            $(this).removeClass("icon-player-hover-out");
                            $(this).find('.icon-photo-inner-inner-grow-circle').removeClass('icon-photo-inner-inner-grow');
                            $(this).find('.icon-photo-inner-inner-grow-circle').removeClass('icon-photo-inner-inner-shrink');
                        }
                        //$(this).removeClass("icon-player-hover");
                        //$(this).removeClass("icon-player-hover-out");
                    });
                $('.player-icon').hover(function(e){
                    console.log("player icon hover");
                    if (!$(this).hasClass('player-icon-selected')) {
                        console.log("player icon not selected");
                        $(this).addClass('icon-player-hover');
                        //$(this).find('.icon-photo-inner-inner-new-circle').addClass('icon-photo-inner-inner-move');
                        $(this).find('.icon-photo-inner-inner-grow-circle').addClass('icon-photo-inner-inner-grow');
                    }
                }, function(e){
                    if (!$(this).hasClass('player-icon-selected')) {
                        $(this).addClass('icon-player-hover-out');
                        $(this).find('.icon-photo-inner-inner-grow-circle').addClass('icon-photo-inner-inner-shrink');
                    }
                });

                $('.player-icon').click(function(e){

                    $('.player-icon').prev().prev().css('display','none');
                    $('.player-icon').removeClass('player-icon-selected');
                    $('.icon-photo-inner-inner-grow-circle').removeClass('player-grow-selected');

                    $(this).prev().prev().css('display','block');
                    $(this).removeClass('icon-player-hover');
                    $(this).find('.icon-photo-inner-inner-grow-circle').removeClass('icon-photo-inner-inner-grow');
                    $(this).addClass('player-icon-selected');
                    $(this).find('.icon-photo-inner-inner-grow-circle').addClass('player-grow-selected');

                    $('#sub-menu').css('display','block');
                    $('.player-list-wrapper').css('display','block');
                    $('#teams').addClass('selected');
                    $('#sophomore').addClass('selected');

                    if ($('.basketball-inner').css('display') != "block") {
                        $('.basketball-inner').css('display','block');
                        setTimeout(delayFlipIn, 100);
                    } else {
                        //rockCard();
                    }

                });

                function delayFlipIn () {
                    $('.basketball-inner').addClass('basketball-card-trans-in');
                }

                var i = 0;

                function rockCard () {
                    
                    if (!$('.basketball-inner').hasClass('basketball-card-rock-up')) {
                        $('.basketball-inner').addClass('basketball-card-rock-up');
                    }
                    $(".basketball-inner").on('transitionend webkitTransitionEnd oTransitionEnd otransitionend MSTransitionEnd', 
                        function() {
                            i++;
                            console.log("done rocking up: " + i);
                            if ($(this).hasClass('basketball-card-rock-down')) {
                                $(this).removeClass('basketball-card-rock-down');
                                $(this).removeClass('basketball-card-rock-up');
                            } else if ($(this).hasClass("basketball-card-rock-up") && !$(this).hasClass("basketball-card-rock-down")) {
                                $(this).addClass('basketball-card-rock-down');
                            }
                        }
                    );
                }

                $('.card-media-item').click(function(e){
                    $('.card-media-item').removeClass('selected');
                    $(this).addClass('selected');
                });
            });
        </script>
    </body>
</html>
