        {{> header}}

        	<div class="index-main page-main-content">
        		
        	</div>
            <div class="basketball-card-main-content">
                <div class="basketball-card-wrapper"></div>
            </div>

        {{> footer}}