        {{> header}}

        	<div class="index-main page-main-content">
        		<video id="vid1" src="" class="video-js vjs-default-skin" muted="muted" controls width="858" height="483" data-setup='{ "autoplay": false, "preload": "auto", "techOrder": ["youtube"], "src": "https://www.youtube.com/watch?v=hpHGURYrncg" }'>
  				</video>
        	</div>
            <div class="basketball-card-main-content">
                <div class="basketball-card-wrapper"></div>
            </div>

        {{> footer}}