        {{> header}}

        	<div class="index-main page-main-content">
        		<div class="page-header-wrap">
                	<div class="page-h2-bkg"></div><h2 class="page-main-h2">Tryouts</h2><div class="page-h2-bkg"></div>
                </div>
	        	<div class="home-page-item">
	                <div class="home-page-item-bkg"></div>
	                <div class="home-page-item-content">
	                    <div class="home-page-text home-page-tryouts-text">
	                        10th Grade Tryouts
							September 13th, 4:00-6:00
	                    </div>
	                </div>
	            </div>

	            <div class="page-header-wrap">
                	<div class="page-h2-bkg"></div><h2 class="page-main-h2">Mission Statement</h2><div class="page-h2-bkg"></div>
                </div>
                <div class="home-page-item">
	                <div class="home-page-item-bkg"></div>
	                <div class="home-page-item-content">
	                    <div class="home-page-text">
	                        The purpose of Wisconsin Havoc is player development and exposure.  We provide a competitive atmosphere where our players learn the rewards of working towards a goal, how to cooperate in a team environment, and the discipline of practice, all in the context of enjoying the game of basketball.  We want our players to wreak Havoc by attacking any obstacles that they face on the court and more importantly in their daily lives.  Our players will strive to get the most out of everything that they have, be thankful for what they have, accomplish their goals with integrity, and treat people the right way.  By achieving this, they will be prepared to compete with the top talent in the country and stand out in front of college coaches.
	                    </div>
	                </div>
	            </div>
				
	            <div class="page-header-wrap">
                	<div class="page-h2-bkg"></div><h2 class="page-main-h2">Practice Format</h2><div class="page-h2-bkg"></div>
                </div>
                <div class="home-page-item">
	                <div class="home-page-item-bkg"></div>
	                <div class="home-page-item-content">
	                    <div class="home-page-text">
	                        Summertime is the time for skill development.  Because of that, Wisconsin Havoc offers multiple opportunities for our players.  It is up to them to take advantage.  Every week, we will have:
							2 two hour team practices
							3 two hour skill development workouts
	                    </div>
	                </div>
	            </div>

        	</div>
            <div class="basketball-card-main-content">
                <div class="basketball-card-wrapper"></div>
            </div>

        {{> footer}}