        {{> header}}

            <div class="schedule-main page-main-content">
                <video id="vid1" src="" class="video-js vjs-default-skin shrink-me" muted="muted" controls width="858" height="483" data-setup='{ "autoplay": false, "preload": "auto", "techOrder": ["youtube"], "src": "https://www.youtube.com/watch?v=hpHGURYrncg" }'>
                </video>
                <div class="page-header-wrap">
                    <div class="page-h2-bkg"></div><h2 class="page-main-h2">Team Schedules</h2><div class="page-h2-bkg"></div>
                </div>
                <ul class="calendar-menu">
                    <li class="selected" data-team="2018national">2018 National</li><li data-team="2018regional">2018 Regional</li><li data-team="2020team">2020 Team</li>
                </ul>
                <div id='calendar'></div>
            </div>

            <div class="basketball-card-main-content">
                <div class="basketball-card-wrapper"></div>
            </div>


        {{> footer}}