        {{> header}}

            <div class="schedule-main page-main-content">
                <div class="page-h2-bkg"></div><h2 class="page-main-h2">Team Schedules</h2><div class="page-h2-bkg"></div>
                <ul class="calendar-menu">
                    <li class="selected" data-team="2018nat">2018 National</li><li data-team="2018reg">2018 Regional</li><li data-team="2020team">2020 Team</li>
                </ul>
                <div id='calendar'></div>
            </div>

            <div class="basketball-card-main-content">
                <div class="basketball-card-wrapper"></div>
            </div>


        {{> footer}}