        {{> header}}

            <div class="tryouts-main page-main-content">
  				<div class="page-header-wrap">
                	<div class="page-h2-bkg"></div><h2 class="page-main-h2">Tryouts</h2><div class="page-h2-bkg"></div>
                </div>

                <div class="home-page-item">
                    <div class="home-page-item-bkg"></div>
                    <div class="home-page-item-content">
                        <div class="home-page-text">

                            <p class="tryout-sub-head">10th Grade Tryouts</p>

                            <p>Sunday, September 13th
                            4:30-6:30
                            Doors open at 4:00</p>

                            <p>Cost:
                            $10</p>

                            <p>Brookfield Academy
                            3460 N Brookfield Rd.
                            Brookfield, WI 53045</p>

                            <p>Tryouts will be held in middle school gyms, which is Freedom Hall.  The parking lot is visible from Brookfield Road and is near the bottom of the hill.  When you are facing Freedom Hall, there will be a flagpole on your left.  Please walk up the driveway on the right side of the building and past the dumpsters.  There, you will see the entrance to the gym doors.</p>
                        </div>
                    </div>
            </div>

            </div>

            <div class="basketball-card-main-content">
                <div class="basketball-card-wrapper"></div>
            </div>


        {{> footer}}