        {{> header}}

            <div class="tryouts-main page-main-content">
            	<video id="vid1" src="" class="video-js vjs-default-skin shrink-me" muted="muted" controls width="854" height="483" data-setup='{ "autoplay": false, "preload": "auto", "techOrder": ["youtube"], "src": "https://www.youtube.com/watch?v=hpHGURYrncg" }'>
  				</video>
  				<div class="page-header-wrap">
                	<div class="page-h2-bkg"></div><h2 class="page-main-h2">Tryouts</h2><div class="page-h2-bkg"></div>
                </div>
            </div>

            <div class="basketball-card-main-content">
                <div class="basketball-card-wrapper"></div>
            </div>


        {{> footer}}