        {{> header}}

            <div class="tryouts-main page-main-content">
  				<div class="page-header-wrap">
                	<div class="page-h2-bkg"></div><h2 class="page-main-h2">Tryouts</h2><div class="page-h2-bkg"></div>
                </div>

                <div class="home-page-item">
                    <div class="home-page-item-bkg"></div>
                    <div class="home-page-item-content">
                        <div class="home-page-text">
                            There are currently no tryouts scheduled.
                        </div>
                    </div>
            </div>

            

            </div>

            <div class="basketball-card-main-content">
                <div class="basketball-card-wrapper"></div>
            </div>


        {{> footer}}